body {
	margin: 0;
}

article {
	width: 20%;
	height: 30vw;
	float: left;
	display: inline;
}

article > div {
	text-align: center;
	width: 100%;
	color: white;
	background-color: black;
	padding: 5% 0;
}

article > div:hover {
	color: rgb(191, 176, 80);
	float: left;
}

header {
	text-align: center;
	vertical-align: middle;
	padding: 0 20%;
	background-color: rgb(66, 173, 245);
}

header > img {
	width: 100%;
	height: 16vw;
	display: grid;
}

hr {
	margin: 0;
	height: 4px;
}