body {
	margin: 0;
}

/* Article */
/* -------------------------------------------------------------------------------------------------- */
article {
	width: 20%;
	float: left;
	display: inline;
	background-color: black;
}

article > ul {
	margin: 5% 10%;
	padding: 0;
	width: 75%;
	color: white;
	list-style-type: none;
	border: 2px solid white;
	border-radius: 10px;
	overflow: hidden;
}

article > ul > li:hover {
	color: rgb(191, 176, 80);
	cursor: pointer;
}

article > ul > li {
	padding: 1vw 0;
	text-align: left;
	background-color: grey;
	font-size: 1vw;
	display: grid;
}

article > ul > li:not(:last-child) {
	border-bottom: 2px solid white;
}


li > img {
	float: left;
	position: absolute;
	width: 1vw;
	margin-top: 0.1vw;
	margin-left: 1vw;
}

li > div {
	margin-left: 3vw;
}
/* -------------------------------------------------------------------------------------------------- */



/* Header */
/* -------------------------------------------------------------------------------------------------- */
header {
	width: 60%;
	float: left;
	display: table;
}

div.header {
	width: 20%;
	height: 16vw;
	float: left;
	display: inline;
}
div#header1 {
	background-image: linear-gradient(to bottom right, rgb(66, 173, 245), rgb(52, 235, 225));
}
div#header2 {
	background-image: linear-gradient(to top right, rgb(52, 235, 225), rgb(66, 173, 245));
}

header > img {
	width: 100%;
	height: 16vw;
	display: grid;
}
/* -------------------------------------------------------------------------------------------------- */

hr {
	margin: 0;
	height: 4px;
}