body {
	margin: 0;
	background-color: rgb(29, 40, 82);
}

/* nav */
/* -------------------------------------------------------------------------------------------------- */
nav {
	width: 20%;
	float: left;
	display: inline;
	background-color: black;
}

nav > ul {
	margin: 0;
	padding: 0;
	color: white;
	list-style-type: none;
	/* border: 2px solid white;
	border-radius: 10px;
	overflow: hidden; */
}

nav > ul > li:hover {
	color: rgb(191, 176, 80);
	cursor: pointer;
}

nav > ul > li {
	padding: 0.5vw 0;
	text-align: left;
	background-color: grey;
	font-size: 1vw;
	display: grid;
	font-family: roboto,sans-serif!important;
}

nav > ul > li:not(:last-child) {
	border-bottom: 1px solid white;
}


li > img {
	float: left;
	position: absolute;
	width: 1.5vw;
	margin-left: 0.7vw;
}



li > div {
	margin-left: 3vw;
}
/* -------------------------------------------------------------------------------------------------- */



/* Header */
/* -------------------------------------------------------------------------------------------------- */
header {
	width: 60%;
	float: left;
	display: inline;
}

div.header {
	width: 20%;
	height: 12vw;
	float: left;
	display: inline;
}
div#header1 {
	background-image: linear-gradient(to bottom right, rgb(66, 173, 245), rgb(52, 235, 225));
}
div#header2 {
	background-image: linear-gradient(to top right, rgb(52, 235, 225), rgb(66, 173, 245));
}

header > div > img {
	width: 100%;
	height: 12vw;
	display: grid;
}
/* -------------------------------------------------------------------------------------------------- */

/* Main */
/* -------------------------------------------------------------------------------------------------- */
main {
	width: 60%;
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

main > div {
	border: 2px solid white;
	font-size: 2vw;
	margin: 5% 5% 0 5%;
	width: 20vw;
	height: 80%;
	text-align: center;
	padding: 6% 2%;
	color: rgb(191, 176, 80);
	background: green;
	border: 1px solid #85784a;
	box-shadow: 0 0 13px 3px rgba(0,0,0,.75);
}
/* -------------------------------------------------------------------------------------------------- */

/* Contingut dret */
/* -------------------------------------------------------------------------------------------------- */
content {
	width: 20%;
	float: left;
	display: inline;
}

content > div {
	text-align: center;
}
/* -------------------------------------------------------------------------------------------------- */